<div class="contenido top-bar" style="background:none;">
	<div id="post_show">
	<h1> <%= @article.title %> </h1>
		<div class="username">
		<p> Compartido por: <%= @article.user.name %></p>
		<p> Hace: <%= time_ago_in_words(@article.created_at) %></p>
		</div>
	<div class="clearfix">
		<div class="post_image_description"><%= image_tag @article.cover.url(:medium) %>
			<div class="description"> <%= simple_format(@article.body) %> </div>
		</div>
		
		<div class="post_data">
			<%= link_to pluralize(@article.get_upvotes.size, "Me gusta") ,like_article_path(@article), method: :get, class:"data"%>
			<%= link_to pluralize(@article.get_downvotes.size, "Strike") ,dislike_article_path(@article), method: :get, class:"data"%>
			<div class="data"><%= pluralize @article.comments.count, "Comentario"%></div>
			<% if @article.user == current_user %>
				<%= link_to "Editar", edit_article_path(@article) , class:"hollow button"%>
			<%end%>
		</div>
		<div id="random_post">
			<h3 style="font-weight:bold;text-align:center;"> Inspiración aleatoria</h3>
			<div class="post">
				<div class="post_image">
					<%= link_to (image_tag @random_post.cover.url(:thumb)), article_path(@random_post) %>
				</div>
				<div class="post_content">
					<div class="title"><h2><%= link_to @random_post.title, article_path(@random_post) %></h2></div>
					<div class="data clearfix">
						<p ><i class="fa fa-comments fa-lg" aria-hidden="true"></i> <%= @random_post.comments.count %> Comentarios</p>
						<p ><i class="fa fa-heart fa-lg" aria-hidden="true"></i> <%= @random_post.get_likes.size %> Me gusta</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
	<div id="comments">
		<h2 class="comment_count"> <%= pluralize(@article.comments.count, "Comentario") %></h2>
		<% @comments.each do |comment| %>
		<div class="comment">
			<p class="username"> <%= comment.user.name %></p>
			<p class="content"> <%= comment.content %></p>
		</div>
		<%end%>
		<%= render 'comments/form' %>
	</div>
</div>
<div class="contenido title-bar" style="background:none;">
	<div id="post_show_mobile">
	<h1> <%= @article.title %> </h1>
		<div class="username">
		<p> Compartido por: <%= @article.user.name %></p>
		<p> Hace: <%= time_ago_in_words(@article.created_at) %></p>
		</div>
	<div class="clearfix">
		<div class="post_image_description"><%= image_tag @article.cover.url(:medium) %>
			<div class="post_data data-votes">
			<%= link_to pluralize(@article.get_upvotes.size, "Me gusta") ,like_article_path(@article), method: :get, class:"data"%>
			<%= link_to pluralize(@article.get_downvotes.size, "Strike") ,dislike_article_path(@article), method: :get, class:"data"%>
			<div class="data"><%= pluralize @article.comments.count, "Comentario"%></div>
			<% if @article.user == current_user %>
				<%= link_to "Editar", edit_article_path(@article) , class:"hollow button"%>
			<%end%>
		</div>
		<div class="description"> <%= simple_format(@article.body) %> </div>
		</div>
		<div id="comments_mobile">
		<h2 class="comment_count text-color"> <%= pluralize(@article.comments.count, "Comentario") %></h2>
		<% @comments.each do |comment| %>
		<div class="comment">
			<p class="username"> <%= comment.user.name %></p>
			<p class="content"> <%= comment.content %></p>
		</div>
		<%end%>
		<%= render 'comments/form' %>
	</div>
		<div id="random_post">
			<h2 style="font-weight:bold;text-align:center;" class="text-color"> Inspiración aleatoria</h2>
			<div class="post">
				<div class="post_image">
					<%= link_to (image_tag @random_post.cover.url(:thumb)), article_path(@random_post) %>
				</div>
				<div class="post_content">
					<div class="title"><h2><%= link_to @random_post.title, article_path(@random_post) %></h2></div>
					<div class="data clearfix">
						<p ><i class="fa fa-comments fa-lg" aria-hidden="true"></i> <%= @random_post.comments.count %> Comentarios</p>
						<p ><i class="fa fa-heart fa-lg" aria-hidden="true"></i> <%= @random_post.get_likes.size %> Me gusta</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
</div>
